*{
    padding: 0;
    margin: 0;
}
.navbar {
    background-image:#B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    padding: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
    background-color: rgb(248, 244, 244);
    border-radius: 4px;
    
}
.nav-item:hover{
    background-color: rgb(12, 1, 1);
    border-radius: 6px;
    
}

.nav-item a {
    color: #0044ff;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    font-size: 20px;
}
.nav-item:hover a {
   color: rgb(240, 235, 235);
}

/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    background-color: rgb(241, 18, 174) ;
    top: 100%;
    left: 0;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Dropdown items */
.dropdown li {
    padding: 10px 15px;

}

.dropdown li a {
    color: #fff;
}

.nav-item:hover .dropdown {
    display: block;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.nav-item:hover .dropdown {
    opacity: 1;
}
